<!--
  Generated template for the HeroFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-spinner *ngIf="!hero"></ion-spinner>
    <ion-title>{{ hero && (hero.name || 'New Hero') }}</ion-title>
    <ion-buttons end>  
      <button *ngIf="heroForm" ion-button [disabled]="!heroForm.form.valid || !heroForm.form.dirty" (click)="submitForm()">Save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  
  <form #heroForm="ngForm">
    <ion-list *ngIf="hero">
      <ion-item>  
        <ion-label color="primary" floating>Name</ion-label>
        <ion-input type="text" name="name" [(ngModel)]="hero.name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>Alter Ego</ion-label>
        <ion-input type="text" name="alterEgo" [(ngModel)]="hero.alterEgo"></ion-input>
      </ion-item>


      <ion-item>  
        <ion-label color="primary" floating>Latitude</ion-label>
        <ion-input type="number" name="lat" [(ngModel)]="hero.coordinates.lat"></ion-input>
      </ion-item>
      <ion-item>  
        <ion-label color="primary" floating>Longitude</ion-label>
        <ion-input type="number" name="lng" [(ngModel)]="hero.coordinates.lng"></ion-input>
      </ion-item>

      <ion-item no-lines>
        <ion-label color="primary" fixed>Super Power</ion-label>  
        <ion-select name="power" [(ngModel)]="hero.power">
          <ion-option *ngFor="let power of powers" value="{{power}}">{{ power }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
  <div>
    <span>before</span>
    <google-map height="200px" (mapClick)="onMapClick($event)" (mapReady)="onMapReady(e)">
      
    </google-map>
    <span>after</span>
  </div>
  
  <!--<button ion-button [navPush]="mapPage">Go Maps</button>-->
</ion-content>